@font-face {
  font-family: "cBold";
  src: url("./asset/font/CerebriSansPro-Bold.otf");
}
@font-face {
  font-family: "cExtraBold";
  src: url("./asset/font/CerebriSansPro-ExtraBold.otf");
}
@font-face {
  font-family: "cHeavy";
  src: url("./asset/font/CerebriSansPro-Heavy.otf");
}
@font-face {
  font-family: "cMedium";
  src: url("./asset/font/CerebriSansPro-Medium.ttf");
}
@font-face {
  font-family: "cRegular";
  src: url("./asset/font/CerebriSansPro-Regular.otf");
}
@font-face {
  font-family: "cSemiBold";
  src: url("./asset/font/CerebriSansPro-SemiBold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #62364b;
  --orange: #ec691e;
  --white: #fff;
  --off-white: #f8f9fa;
  --gray: rgb(247, 247, 247);
  --border-radius: 12px;
  --box-shadow: 1px 0px 9px 2px rgba(0, 0, 0, 0.07);
  --box-shadow-purple: 1px 0px 9px 2px #ac38701e;
  --cBold: "cBold", sans-serif;
  --cHeavy: "cHeavy", sans-serif;
  --cExtraBold: "cExtraBold", sans-serif;
  --cMedium: "cMedium", sans-serif;
  --cRegular: "cRegular", sans-serif;
  --cSemiBold: "cSemiBold", sans-serif;
}

body {
  background-color: var(--white);
  width: 100%;
  min-height: 100dvh;
  font-family: var(--cRegular);
}

/* Navbar starts */
.navbar {
  width: 100%;
  padding: 0 10px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 30px;
  background-color: white;
  max-width: 1440px;
  box-shadow: var(--box-shadow-purple);
  -webkit-box-shadow: var(--box-shadow-purple);
  -moz-box-shadow: var(--box-shadow-purple);
  margin: 0 auto;
  border-radius: var(--border-radius);
}

.navbar-content .logo {
  width: 160px;
  height: 20px;
}

.navbar-content .logo img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.navbar-content ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.navbar-content ul li {
  transition: 500ms ease-in-out;
  font-family: var(--cMedium);
  position: relative;
  overflow: hidden;
}

.navbar-content ul li a {
  font-size: 16px;
  text-decoration: none;
  color: var(--dark-purple);
}

.navbar-content ul li a::before {
  content: "";
  width: 100%;
  border-bottom: 2px solid var(--orange);
  position: absolute;
  bottom: 0;
  transition: 500ms ease-in-out;
  transform: translateX(-100%);
}

.navbar-content ul li a:hover {
  color: var(--orange);
}

.navbar-content ul li a:hover::before {
  transform: translateX(0);
}
/* Navbar ends */
main {
  width: 100%;
  margin-top: 82px;
}

/* Home section starts */
#home {
  width: 100%;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
}

#home::before {
  content: "";
  width: 20%;
  height: 95%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ec691e1d;
  z-index: -1;
}

.home-content {
  min-height: 100dvh;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 30px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 50px;
  align-items: center;
}

.home-content .img-side {
  position: relative;
}

.home-content .img-side img {
  width: 100%;
  height: 450px;
  object-fit: fill;
}

.home-content .img-side .text {
  max-width: 200px;
  width: 100%;
  position: absolute;
  background-color: var(--white);
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border-radius: 8px;
  bottom: -10px;
  right: -10%;
  box-shadow: var(--box-shadow-purple);
  color: #753f59;
  font-family: var(--cExtraBold);
}

.home-content .text-side h1 {
  font-size: 55px;
  color: var(--dark-purple);
  font-family: var(--cBold);
  width: 100%;
  max-width: 85%;
}

.home-content .text-side .detail {
  font-size: 18px;
  margin-top: 20px;
  color: var(--dark-purple);
  font-family: var(--cRegular);
}
/* Home section ends */

/* Reused Components starts*/
.style {
  background-image: linear-gradient(
    129deg,
    var(--dark-purple) 20%,
    var(--orange)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
}

.bg-button {
  width: 50%;
  margin-top: 30px;
  padding: 20px 20px;
  border: none;
  color: var(--white);
  background-color: var(--dark-purple);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: var(--cSemiBold);
  position: relative;
  transition: 500ms ease-in-out;
  overflow: hidden;
  z-index: 0;
  font-size: 20px;
}

.bg-button p {
  position: relative;
  z-index: 2;
}

.bg-button::before {
  content: "";
  -webkit-text-fill-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: var(--border-radius);
  top: 0;
  left: 0;
  background-image: linear-gradient(
    129deg,
    var(--orange) 20%,
    var(--dark-purple)
  );
  transform: translateX(-100%);
  transition: 500ms ease-in-out;
  z-index: 1;
}

.bg-button:hover::before {
  transform: translateX(0);
}

/* Reused Components ends*/

/* Partner Section starts */
#partners {
  width: 100%;
  padding: 0 30px;
}

.partners-content {
  max-width: 1440px;
  width: 100%;
  margin: -30px auto 0;
  padding: 20px 30px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background: var(--gray);
}

.partners-content h1 {
  text-align: center;
  margin: 50px;
  color: var(--dark-purple);
  font-size: 50px;
}

.partners-content .partners-container {
  display: flex;
  flex: 1fr;
  flex-wrap: wrap;
  gap: 30px;
}

.partners-content .partners-container div {
  width: 140px;
  margin: 0 auto;
  height: 120px;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.151);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-purple);
  margin-bottom: 50px;
}

.partners-content .partners-container div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Partner Section ends */
#features {
  width: 100%;
  padding: 0 30px;
  margin-top: 20px;
}

.features-content {
  max-width: 1440px;
  width: 100%;
  padding: 20px 0;
  background: var(--white);
  color: var(--dark-purple);
}

.features-content .header {
  text-align: center;
  margin: 50px;
  color: var(--dark-purple);
  font-size: 50px;
}

.features-content .feature {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.features-content .feature .text-side,
.features-content .feature .image-side {
  max-width: 550px;
  width: 100%;
}

.features-content .feature .image-side img {
  width: 100%;
  height: 100%;
}

.features-content .feature .text-side .head {
  font-family: var(--cRegular);
  font-size: 35px;
  margin-bottom: 10px;
}

.features-content .feature .text-side .detail {
  font-size: 18px;
  color: black;
}

.features-content .feature .text-side .feature-list {
  margin-top: 20px;
  list-style: circle;
}

.features-content .feature .text-side .feature-list li {
  margin-bottom: 10px;
  font-size: 14px;
  max-width: 500px;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.151);
  padding: 10px 0 10px;
}
/* Features Section ends */

/* Footer Starts */
footer {
  width: 100%;
  padding: 0 30px;
  margin-top: 20px;
  background-color: #753f59;
}

.footer-content {
  max-width: 1440px;
  width: 100%;
  padding: 30px 0;
  color: var(--white);
}

.footer-content .link-section {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.footer-content .link-section .link h1,
.footer-content .link-section .contact h1 {
  font-size: 25px;
  margin-bottom: 30px;
}

.footer-content .link-section .link li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-content .link-section .link li a:hover {
  border-bottom: 1px solid;
}

.footer-content .link-section .link li a {
  color: var(--white);
  text-decoration: none;
}

.footer-content .link-section .contact a {
  text-decoration: none;
  color: var(--white);
  display: inline-block;
  margin-top: 10px;
}

.footer-content .link-section .contact a:hover {
  border-bottom: 1px solid;
}
/* Footer Ends */
